<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        .box {
            background-color: purple;
            height: 200px;
            width: 200px;
        }

        [v-cloak] {
            /* This will prevent worg rendering in que initial rendering*/
            display: none;
        }

        input {
            margin: 10px;
            display: block;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <div id="app" v-cloak>
        <login-form />
        <!-- what comes after component, will no show up -->
        <hr>
        (% greeting %)
        <br>
        <p>aoadfa</p>
        <input v-model="greeting">
    </div>
    <script>
        let app = Vue.createApp({
            delimiters: ["(%", "%)"],
            data: function () {
                return {
                    greeting: "Hello Vue 3!",
                }
            },
            methods: {
                toggleBox() {
                    this.changeable_box2 = !this.changeable_box2
                }
            }
        })
        app.component('login-form', {
            delimiters: ["(%", "%)"],
            template: `
        <form @submit.prevent='handleSubmit'>
            <h1>(% title %)</h1>
            <input type="email" v-model="email"/> 
            <input type="password" v-model="password"/> 
            <button>Log in </button>
        </form>
        `,
            data() {
                return {
                    title: 'Login Form',
                    email: '',
                    password: '',
                }
            },
            methods: {
                handleSubmit() {
                    console.log('email: ' + this.email, ', password: ' + this.password);
                }
            }

        })
        app.component('custom-input', {
            template: `
                <label>
                    (% label %)
                    <input type="text">
                </label>`
        })
        app.mount("#app")
    </script>
</body>

</html>